.myOrdersContainer {
  width: 100vw;
  max-width: 100%;
  margin: 6rem 0;
  padding: 2rem 4vmax;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.myOrdersContainerHeading {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  background-color: white;
}

.myOrdersBox {
  width: 100%;
  /* border: 1px solid black; */
  height: 80vh;
  background-color: white;
  padding: 1rem 2rem;
}

#myOrdersHeading {
  text-align: center;
  font: 400 1.2vmax "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(44, 44, 44);
}

.myOrdersTable {
  background-color: white;
  height: 82%;
}

.myOrdersTable div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader {
  background-color: rgb(235, 235, 235);;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  /* color: rgb(255, 255, 255); */
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.1vmax;
  /* font: 500 1.1vmax "Roboto" !important; */

}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }
}