.navbar {
  position: absolute;
  background: transparent;
  color: white;
  padding: 23px 20px;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar_icon {
  display: none;
}

.navbar_icon2 {
  display: none;
}

.logo_icon {
  width: 25px;
  height: 25px;
}

.navbar_quick_action_text {
  display: none;
}

.navbar_greater_icon {
  display: none;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 89%;
  margin: 0 auto;
  cursor: pointer;
}

.nav_links_container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.navlogo_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav_logo>a {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 1rem;
  color: black;
  line-height: 1.2rem;

}

.nav_logo_icon {
  color: black;
}

.nav_logo1>a {
  font-size: 1.6rem;
  color: #ffaa2c;
  opacity: 0.7;
  text-decoration: none;
  font-family: system-ui;
  letter-spacing: 5px;
}

.nav_links a:hover {
  color: #ffaa2c;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav_item {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  transition: color 0.3s ease;
  font-family: 'Droid Sans';
}

.white_nav_link a {
  color: white;
}

.white_nav_logo1 {
  color: white;

}

.nav-item:hover {
  color: #ff6600;
}

.menu-icon {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #ffaa2c;
  cursor: pointer;
}

.nav_search_box_wrapper {
  position: relative;
}

.nav_search_input_wrapper {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.nav_search_input {
  padding: 12px 41px 12px 7px;
  width: 10rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.nav_search_inside_button {
  position: absolute;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.navbar_quick_action_icon {
  font-size: 18px;
}

.nav_search_inside_button1 {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.nav_search_inside_button:hover {
  color: #ffaa2c;
}

.nav_search_inside_button1:hover {
  color: #ffaa2c;
}

.nav_search_button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav_search_button_white {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  color: white;
  width: 100%;
}

.cart_icon_wrapper {
  position: relative;
}

.cart_icon_link {
  position: relative;
  display: inline-block;
}

.cart_icon_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_count_tooltip {
  position: absolute;
  top: -11px;
  right: -12px;
  background-color: rgb(255 159 0);
  color: white;
  padding: 3px 5px;
  font-size: 10px;
  border-radius: 13px;
  opacity: 1;
  transition: all 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
  z-index: 2;
  font-weight: bold;
}

.cart_icon_container:hover .cart_count_tooltip {
  opacity: 1;
}

.wishlist_icon_link {
  position: relative;
  display: inline-block;
}
.wishlist_icon_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlist_count_tooltip {
  position: absolute;
  top: -11px;
  right: -12px;
  background-color: rgb(255 159 0);
  color: white;
  padding: 3px 5px;
  font-size: 10px;
  border-radius: 13px;
  opacity: 1;
  transition: all 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
  z-index: 2;
  font-weight: bold;
}

.cart_icon {
  transition: color 0.3s ease;
}

.cart_icon:hover {
  color: #ffaa2c !important;
}
.wishlist_icon {
  transition: color 0.3s ease;
}
.wishlist_icon:hover {
  color: #ffaa2c !important;
}

.login_icon_img {
  height: 3.3rem;
  width: 3rem;
}

.speedDialIcon {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  border: 2px solid #ffaa2c;
}

.slide-in {
  animation: slideInRight 0.3s forwards;
}

.slide-out {
  animation: slideOutRight 0.3s forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.nav_search_button :hover {
  color: #ffaa2c;
}

.nav_search_button_white :hover {
  color: #ffaa2c;
}

.navbar_quick_action_text:hover {
  color: black;
}

.navbar_greater_icon:hover {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
}

.mobile_deals_card {
  display: none;
}


/* =========================================
   TABLET (769px - 1024px)
========================================= */
@media screen and (max-width: 1024px) {

  .navbar {
    padding: 18px 20px;
  }

  .navbar_container {
    max-width: 95%;
  }

  .logo_icon {
    width: 22px;
    height: 22px;
  }

  .nav_links {
    gap: 15px;
  }

  .nav_item {
    font-size: 0.95rem;
  }

  .nav_links_container {
    width: 65%;
  }

  .nav_search_input {
    width: 7rem;
    font-size: 11px;
  }

  .nav_logo>a {
    font-size: 0.95rem;
  }

  .nav_logo1>a {
    font-size: 1.4rem;
  }
}

@media screen and (max-width:768px) {

  html,
  body,
  #root {
    overflow-x: clip;
  }


  .navbar {
    padding: 14px 20px;
  }

  .navbar_container {
    max-width: 95%;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 14px;
    background: rgba(255, 255, 255, .12);
    backdrop-filter: blur(16px);
    cursor: pointer;
    font-size: 1.8rem;
    z-index: 1500;
    transition: .3s;
  }

  .menu-icon:hover {
    transform: scale(1.08);
    background: rgba(255, 170, 44, .15);
  }

  .navbar_icon {
    display: block;
    color: #ffaa2c;
    margin-right: 1rem;
  }

  .navbar_icon2 {
    display: block;
    color: white;
    margin-left: auto;
  }

  .navbar_icon:hover {
    color: black;
  }

  .nav_links {
    display: none;
  }

  .nav_links_container {
    position: fixed;
    top: 0;
    right: 0;
    width: min(82vw, 340px);
    /* height: 100vh; */

    background: #111111;

    display: none;
    flex-direction: column;
    align-items: center;

    transform: translateX(100%);

    transition: transform .45s ease;

    z-index: 1400;
    border-left: 1px solid rgba(255, 255, 255, .08);

    box-shadow: -8px 0 24px rgba(0, 0, 0, .35);
    box-sizing: border-box;
  }

  .nav_links_container.active {
    transform: translateX(0);
    display: flex;
    padding-top: 5rem;

    transition: transform .45s ease,
  }

  .nav_links_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
    gap: 6px;
    box-sizing: border-box;
    padding-bottom: 28px;
    border-bottom: 1px solid rgb(37 36 36 / 80%);
  }


  .nav_links_left li {
    background: rgba(255, 255, 255, .05);
    border-radius: 6px;
    width: 100%;
  }

  .nav_links_left .nav_item {
    width: 100%;
    padding: 11px 19px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: .3s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-left: 2px solid #ffaa2c;
    border-radius: initial;

  }

  .nav_links_left .nav_item:hover {

    background: #ffaa2c;

    color: #111;

    transform: translateX(8px);
  }

  .nav_item:hover .navbar_icon {
    color: #111;
  }

  .nav_item:hover .navbar_icon2 {
    color: #111;
  }

  .nav_links_right {

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, .08);
    background: rgba(255, 255, 255, .05);
    border-radius: 11px;
    padding: 1.3rem 24px;
    box-sizing: border-box;
  }

  .navbar_greater_icon {
    display: block;
    margin-left: auto;
  }

  .navbar_quick_action_text {
    display: block;

    font-size: 0.9rem;
  }

  .navbar_quick_action_icon {
    display: block;
    font-size: 15px;
    color: #ffaa2c !important;
  }

  .navbar_quick_action_icon_wrapper {
    width: 33px;
    height: 33px;
    background-color: #4d3f20;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .nav_links_right .nav_item {
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    transition: .35s;
    box-sizing: border-box;
  }

  .nav_search_button {
    color: white;
    width: 100%;
    display: flex;
    padding: 5px 9px 10px 9px;
    align-items: center;
    border-bottom: 1px solid #2e2e2e;
  }

  .slide-in {
    width: 100%;
  }

  .nav_search_button_white {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 9px 10px 9px;
    border-bottom: 1px solid #2e2e2e;
  }

  .nav_search_button_white:hover {
    color: black;
  }

  .nav_search_button:hover {
    color: black;
  }

  .nav_links_right .nav_item:hover {

    background: #ffaa2c;

    color: #111;

    transform: translateX(8px);
  }



  .nav_search_input {

    background: #1d1d1d;

    color: white;

    width: 100%;
    border-radius: 0;
    border: 1px solid grey;
  }

  .nav_search_input::placeholder {

    color: #888;
  }

  .nav_search_inside_button,

  .nav_search_inside_button1 {

    color: white;
  }

  .cart_icon_container {
    width: 100%;
    justify-content: flex-start;
  }

  .cart_icon_link {
    position: relative;
    text-decoration: none;
    width: 100%;

    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 9px 10px 9px;
    border-bottom: 1px solid #2e2e2e;
  }

  .cart_icon_link:hover {
    color: black !important;
  }

  .cart_icon_link:hover .cart_count_tooltip {
    background-color: black;
  }

  .cart_count_tooltip {
    position: relative;
    right: 0;
    top: 0;
    margin-left: auto;
  }
  .wishlist_icon_link:hover .wishlist_count_tooltip {
    background-color: black;
  }

  .wishlist_count_tooltip {
    position: relative;
    right: 0;
    top: 0;
    margin-left: auto;
  }

  .nav_account_login_wrapper {
    color: white;
    width: 100%;
    display: flex;
    padding: 5px 9px 10px 9px;
    align-items: center;
    border-bottom: 1px solid #2e2e2e;
    box-sizing: border-box;
  }

  .nav_account_login_wrapper>a {
    display: flex;
    width: 100%;
    color: white;
    text-decoration: none;
    align-items: center;
  }

  .nav_account_login_wrapper>a:hover {
    color: black;
  }

  .nav_account_login_wrapper:hover {
    color: black;
  }

  .nav_wishlist_wrapper {
    color: white;
    width: 100%;
    display: flex;
    padding: 5px 9px 10px 9px;
    align-items: center;
    border-bottom: 1px solid #2e2e2e;
    box-sizing: border-box;
  }

  .nav_wishlist_wrapper>a {
    display: flex;
    width: 100%;
    color: white;
    text-decoration: none;
    align-items: center;
  }

  .nav_wishlist_wrapper>a:hover {
    color: black;
  }

  .nav_wishlist_wrapper:hover {
    color: black;
  }

  .mobile_deals_card {
    width: 90%;
    margin-top: 1.5rem;
    padding: 18px 18px;
    border-radius: 18px;
    border-radius: 18px;
    border: 1px solid rgba(255, 170, 44, .18);
    display: flex;
    flex-direction: column;
    gap: 9px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .mobile_deals_left {
    display: flex;
    align-items: flex-start;
  }

  .mobile_deals_icon {

    width: 52px;
    height: 52px;

    min-width: 52px;

    border-radius: 16px;

    background: rgba(255, 170, 44, .12);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffaa2c;
    font-size: 24px;

    margin-right: 15px;
  }

  .mobile_deals_text h3 {

    margin: 0;

    color: #ffaa2c;

    font-size: 1.1rem;

    font-weight: 600;
  }

  .mobile_deals_text p {

    margin-top: 8px;

    color: #cfcfcf;

    line-height: 1.5;

    font-size: .88rem;
  }

  .mobile_deals_btn {

    width: 100%;

    height: 48px;

    border-radius: 40px;

    border: 1px solid #ffaa2c;

    background: transparent;

    color: #ffaa2c;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: .35s;
  }

  .mobile_deals_btn:hover {

    background: #ffaa2c;

    color: #111;

    transform: translateY(-2px);
  }

  .mobile_deals_btn svg {

    transition: .35s;
  }

  .mobile_deals_btn:hover svg {

    transform: translateX(6px);
  }

}

@media (max-width: 600px) {

    .speedDial .MuiSpeedDialAction-staticTooltipLabel {
        left: 55px !important;
        right: auto !important;
        transform: none !important;
        white-space: nowrap;
        background-color: rgb(213, 213, 213);
    }

}

@media screen and (max-width: 400px) {



  .nav_links.active:first-of-type {
    width: 95%;
  }

  .nav_links.active:last-of-type {
    width: 95%;
    top: 290px;
  }

  .nav_search_input {
    width: 100%;
    border-radius: 0;
    border: 1px solid grey;
  }

  .menu-icon {
    width: 38px;
    height: 38px;
    font-size: 1.4rem;
  }
}