.about-us {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-banner {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  padding: 5rem 0;
}

.about-banner .sub-title {
  letter-spacing: 1px;
  font-size: 13px;
  color: #666;
}

.title {
  font-size: 3.5rem;
  margin: 18px 0;
  font-family: Impact;
  font-weight: 700;
  color: black;
}


.divider {
  width: 40px;
  height: 2px;
  background: #c2a78e;
  border: none;
  margin: 20px auto;
}

.about-content {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  background: white;
  margin: 0 6rem;
}

.about-text {
  width: 40%;
  text-align: left;
}

.about-text p {
  font-family: 'monospace';
}

.about-text h2 {
  font-size: 1.7rem;
  color: black;
  font-family: Impact;
  letter-spacing: 1px;
  margin-bottom: 17px;
}

.about-image {
  width: 40%;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}

/* MISSION SECTION */
.mission-section {
  /* background: #f8f8f8;
  padding: 40px;
  margin-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 7rem 0;
}


.mission-subtitle {
  letter-spacing: 1px;
  font-size: 14px;
  color: #666;
}

.mission-title {
  font-size: 2.5rem;
  margin: 18px 0;
  font-family: Impact;
  font-weight: 700;
}

.mission-text {
  width: 75%;
  margin-top: 1.4rem;
}

/* OUR ADVANTAGES SECTION */
.service-cards-container {
  padding: 3rem 1.5rem;
  background-color: #fff;
  text-align: center;
}

.service-subtitle {
  letter-spacing: 1px;
  font-size: 15px;
  color: #666;
}

.service-title {
  font-size: 2.5rem;
  margin: 14px 0;
  font-family: Impact;
  font-weight: 700;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3.5rem;
}

.service-card {
  border-radius: 12px;
  padding: 4rem 5rem;
  width: 14rem;
  box-shadow: 0 15px 23px rgba(0.5, 0.5, 0.5, 0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-icon {
  border: 1px solid black;
  padding: 12px;
  border-radius: 50%;
  background: black;
  color: white;
}


.our-products {
  width: 86%;
  padding: 5rem 0;
  text-align: center;
}

.our-products-subtitle {
  letter-spacing: 1px;
  font-size: 15px;
  color: #666;
}

.our-products-title {
  font-size: 2.5rem;
  margin: 14px 0;
  font-family: Impact;
  font-weight: 700;
}

.our-products-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.our-product-item {
  /* padding: 4rem; */
  padding: clamp(1.5rem, 4vw, 4rem);;
  text-align: center;
  background: white;
  border-radius: 13px;
}

.our-product-icon {
  color: #5e5e5e;
  font-size: clamp(2rem, 4vw, 3.5rem);
  transition: transform 0.3s ease;

}

.our-product-item p {
  /* font-size: 21px;
  margin-top: 18px;
  font-family: 'Droid Sans'; */
  font-size: clamp(1rem, 2vw, 1.3rem); 
  margin-top: 18px;
  font-family: 'Droid Sans', sans-serif;
}