.productsHeading {
    margin: 11vmax auto 4vmax auto;;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.678);
    font: 500 2vmax "Roboto";
    text-align: center;
}



.productsContainer{
    margin: 6rem 0;
    background-color: #f1f1f1;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 3rem 3rem;
    border-top: 1px solid #d3d3d3;
}
.productsBox{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 25px;
}


.filterContainer{
    /* border: 1px solid black; */
    width: 100%;
    padding-bottom: 2.5rem;

    display: flex;
    justify-content: space-between;
}
.filterButtonsContainer{
    display: flex;
}
.filterButtonsContainer > a{
    padding: 7px 11px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #ffaa2c;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: smaller;
    margin-right: 1rem;
}
.filterButtonsContainer > a > span{
    margin-left: 5px;
}
.filterButtonsContainer > a:hover{
    color: white;
}
.filterIcon :hover{
    color: white;
}

#sort{
    padding: 7px 11px;
    font-family: monospace;
    font-size: medium;
    border: none;
    transition: all 0.3s ease;
}
#sort:hover{
    color: #ffaa2c;
}
.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.page-item:first-child {
    border-radius: 5px 0 0 5px;
}

.page-item:last-child {
    border-radius: 0 5px 5px 0;
}

.page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}

.page-item:hover {
    background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
    color: rgb(0, 0, 0);
}

.pageItemActive {
    background-color: #ffaa2c;
}

.pageLinkActive {
    color: white;
}


@media screen and (max-width: 600px) {
    .page-link {
        font: 300 1.7vmax "Roboto";
    }
}