.profileContainer {
  /* display: flex;
  height: 100vh;
  width: 100vw; */
  /* position: fixed;
    top: 0%;
    left: 0%; */
  /* max-width: 100%;
  background-color: rgb(231, 231, 231); */
  margin-top: 6rem;
  display: flex;
  padding: 3rem;
  background-color: #e5e5e5;
}

/* .profileContainer > div {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

/* PROFILE RIGHT CONTAINER */

.profileContainer>div:first-child {

  /* border: 1px solid black; */
  color: rgba(0, 0, 0, 0.555);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
}

.profileContainer>div:first-child>h1 {
  color: rgba(0, 0, 0, 0.555);
  transform: translateX(-10vmax) translateY(-2vmax);
  margin-top: 5rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Roboto';
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.profileContainer>div:first-child>img {
  width: 22vmax;
  border-radius: 50%;
  transition: all 0.5s;
  height: 21vmax;
  border: 3px solid black;
}

.profileContainer>div:first-child>img:hover {
  transform: scale(1.05);
}

.profileContainer>div:first-child>a {
  border: none;
  background-color: #f5a623;
  font: 400 1vmax "Roboto";
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 9px;
  width: 30%;
  margin: 5vmax 0;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer>div:first-child>a:hover {
  background-color: #d48503;
}

/* PROFILE RIGHT CONTAINER */
.profileContainer>div:last-child {
  /* border: 1px solid red; */
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 0 4rem;
}

.profileContainer>div:last-child>div>h4 {
  color: black;
  font: 400 1.2rem "Roboto";
}

.profileContainer>div:last-child>div>p {
  color: rgb(0 0 0 / 42%);
  font: 400 1vmax fantasy;
  margin: 0.5rem 0;
}

.profileContainer>div:last-child>div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer>div:last-child>div:last-child>a {
  border: none;
  background-color: rgb(68, 68, 68);
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer>div:last-child>div:last-child>a:hover {
  background-color: #f5a623;
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }

  .profileContainer>div:first-child>h1 {
    font: 500 3.2vmax "Roboto";
    transform: translateY(-2vmax);
  }

  .profileContainer>div:first-child>a {
    font: 400 1.7vmax "Roboto";
    padding: 1vmax;
  }

  .profileContainer>div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer>div:last-child>div>h4 {
    font: 400 2.5vmax "Roboto";
  }

  .profileContainer>div:last-child>div>p {
    font: 400 2vmax cursive;
    margin: 0.5vmax 0;
  }

  .profileContainer>div:last-child>div:last-child>a {
    font: 400 1.8vmax "Roboto";
    padding: 1vmax;
    margin: 2vmax 0;
  }
}